[Desktop Entry]
Comment[de_DE]=
Comment=
Exec=/usr/local/bin/ghidra
GenericName[de_DE]=Ghidra Disassembler and Decompiler
GenericName=Ghidra Disassembler and Decompiler
Icon=/opt/ghidra/ghidra.png
MimeType=
Name[de_DE]=Ghidra
Name=Ghidra
Path=/opt/ghidra
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
